$normal-range-color: #2390de;
$steady-sailor-color: #33ad33;
$dashboard-height: 130px;
$bubble-height: 120px;
$normal-range-color: rgba(35, 144, 222, 1);
$low-range-color: rgba(222, 35, 51, 1);
$high-range-color: rgba(222, 35, 51, 1);
$selected-range-color: rgba(255, 255, 255, 1);
$dark-selected-range-color: rgba(10, 10, 10, 1);
$range-color: rgba(64, 64, 65, 1);
$range-background-color: rgba(238, 238, 238, 1);
$selected-range-background-color: rgba(158, 32, 100, 1);
$inactive-line-color: rgba(221, 221, 221, 1);
$a1c-center-size: $bubble-height * 0.6;

$warning-glucose-color: rgba(247, 169, 24, 0.9);
$normal-glucose-color: rgba(51, 173, 51, 0.8);

.self {
  background-color: rgba($normal-range-color, 0.2);  
}

.sailor {
  background-color: rgba($steady-sailor-color, 0.2);

  .insights {
    color:rgba(lighten($steady-sailor-color, 10%), 0.7);
  }
}

.dashboard {
  height: $dashboard-height;

  .bubble {
    padding-top: ($dashboard-height - $bubble-height) / 2;    
  }

  img.bubble {
    height: $bubble-height;
  }

  .left {
    padding-left: ($dashboard-height - $bubble-height) / 2;
  }

  .right {
    padding-right: ($dashboard-height - $bubble-height) / 2;
  }  
}

.circle
{
  width:$bubble-height;
  height:$bubble-height;
  border-radius:$bubble-height - 10;
  line-height:180%;
  text-align:center;
  vertical-align: middle;
  background:#eee;
}

.profile{  
  margin-top: 10px;
  font-size: 120%;
  font-weight: bold;

  small {
    font-weight: normal;
    font-size: 60%;
  }
}

#profilePic {
  max-width: $bubble-height !important;
  min-width: $bubble-height !important;
}
/* Data graph */
#chart_container {
  position: relative;
}

#chart {
  position: relative;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block;  
  text-align: center;
}

#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}

#legend_container {
  position: absolute;
  right: 0;
  bottom: 26px;
  width: 0;
}

.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }

#injections_chart {
    position: absolute;
    top: 0;
    left: 40px;
  }


/* Main pages */

.topLink{
  padding-top: 14px;
}

li.navlink a:hover {
  cursor: pointer; 
  color: #F2F2F2 !important;
  background-color: #888 !important
}


.slab {
  background-color: #fff;
  display: block;  
}

.graph{
  height: 600px;
}
.footer {
  width: 100%;
}

.footer a{
  color: #446DB2;
}

/* Styling for overlay when user has no data */
#overlay {
    padding-top: 20%;
    background-color: #fff;
    filter:alpha(opacity=80);
    -moz-opacity:0.80;
    -khtml-opacity: 0.80;
    opacity: 0.90;
    z-index: 20000;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* blurring the text behind the overlay */
.blurryText{
  color: rgba(0, 0, 0, 0) !important;
  text-shadow: 0 0 1px #888 !important;
}

#instructions{
  list-style-type: none;
}

#droplet{
  height: 46px;
  padding-top: 16px;
  -moz-box-sizing: none;
  -webkit-box-sizing: none;
  box-sizing: none; 
}



/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
.insights {
  color:rgba(lighten($normal-range-color, 10%), 0.7);
  font-weight:bold;
  font-size: 4em;}
.datepicker{
  padding-bottom: 20px;
  display: block;
  float: left;
}
  }

/* Styles for screens that are less than 768px; */
@media only screen and (max-width: 768px) {
.insights {
  color:rgba(lighten($normal-range-color, 10%), 0.7);
  font-weight:bold;
  font-size: 2em;
  float: right;}
.datepicker{
  padding-bottom: 10px;
  display: block;
  float: left;
  font-size: 1.2em;
  }
}

svg {
  font: 10px sans-serif;
}

path {
  stroke: grey;
  fill: none;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #B0B0B0;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #595959;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.target_range {
  fill-opacity: .05;
  shape-rendering: crispEdges;
  fill: #2390de;
}

path.Insulin {
   fill: rgba(86, 215, 232, 1);   
   stroke-width: 0px;
}

path.Carbs {
   fill: rgba(255, 199, 69, 1);   
   stroke-width: 0px;
}

.steadySailor {
   stroke: $steady-sailor-color;
   stroke-width: 1px;
   stroke-dasharray: 5, 7;
   stroke-opacity: 0.8;

   .NORMAL {
    stroke: $steady-sailor-color;
   }

   .HIGH {
    stroke: $steady-sailor-color;
   }

   .LOW {
    stroke: $steady-sailor-color;
   }
}

.background {  
  fill-opacity: 0;
  stroke-width: 0;
}

.hoverbox {
  background-color: rgba(190, 217, 247, 0.1);
  color: rgba(70, 175, 250, 0.8);
  font-size: 88%;
  position: absolute;
  width: 160px;  
  top: 50px;  
  left: 10px;
  padding: 0px;
  display: none;
}

.hoverbox > p {
  padding-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;  
}

p.glucose {  
  color: rgba(103, 121, 145, 0.8);
}

p.Insulin {  
  color: rgba(86, 215, 232, 1);   
}

p.Carbs {  
  color: rgba(255, 199, 69, 1);
}

.focusLine {
  stroke-width: 0.8px;
  stroke: #B0B0B0;
  stroke-dasharray: 4, 2;
}

.night {
  fill: rgba(44, 51, 89, 0.5);
}

.dayBoundary {
  fill: rgba(107, 107, 107, 0.8);
  font-size: 18px;
}

i[class^="icon-"].score-trend { 
  font-size: $norm;
  position: absolute;
  z-index:100;
  vertical-align: super;  

  &.up {
    color: $success-color; 
  }

  &.down {
    color: $warning-color; 
  }
}

.glukit-score {
  position: relative;
}

.glucoseLine {
   stroke: $inactive-line-color; 

   &.NORMAL.active { 
     stroke: $normal-range-color;
   }

   &.HIGH.active { 
     stroke: $high-range-color;
   }

   &.LOW.active { 
     stroke: $low-range-color;
   }
}

@mixin circleOfSize($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

.wheel, .a1cUmbrella, .color {
  @include circleOfSize($bubble-height);
}
.wheel {
  overflow: hidden;
  width: $bubble-height;
  height: $bubble-height;
  position: relative;
}
.a1cUmbrella {
  position: relative;
  -webkit-filter: blur(0.7em);
  -webkit-transform: scale(1.35);
}
.color, .color:nth-child(n+3):after {
  clip: rect(0, $bubble-height, $bubble-height, #{$bubble-height/2});
}
.color:after, .color:nth-child(n+3) {
  @include circleOfSize($bubble-height);
  clip: rect(0, #{$bubble-height/2}, $bubble-height, 0);
}

// Orange: rgba(247, 169, 24, 1.0)
// Green: rgba(51, 173, 51, 1.0)
$colors: (rgba(247, 169, 24, 0.9), rgba(235, 23, 23, 0.9), rgba(51, 173, 51, 0.9), rgba(250, 218, 35, 0.9));
@for $i from 0 to length($colors) {
  .color:nth-child(#{1+$i}):after {
    background-color: nth($colors, $i+1);
    @if $i < 2 {
       transform: rotate(#{360/length($colors)*(1+$i)}deg);
       z-index: #{length($colors)-$i};
     } @else {
      transform: rotate(#{-1 * 360/length($colors)+(360/length($colors)*(1+$i))}deg);
    }
  }
}

.a1c { 
  color:rgba(lighten($normal-range-color, 10%), 0.7);
  font-weight:bold;
  font-size: 2.5em;
  text-align:center;
  vertical-align: middle;
  line-height: 170%;
}

.a1cNeedle {
  width: $bubble-height / 2;
  height: 2px;
  background-color: rgba(darken($normal-range-color, 10%), 0.9);
  position: absolute;
  top: 50%;
  left: 0px;
  transform-origin:100% 50%;
  -webkit-transform-origin:100% 50%;
  -ms-transform:rotate(250deg); 
  -moz-transform:rotate(250deg); 
  -webkit-transform:rotate(250deg);   
}

.a1cPin {
  @include circleOfSize($a1c-center-size);
  z-index: 2;
  background-color: #eeeeee;  
}

.a1cLabel {
  font-size: 1em;
  font-variant: small-caps;
  text-align: center;
}

div.rangeSelection {
  cursor: pointer;
  background-color: $range-background-color;
  color: $range-color;  
  border-style: solid;
  border-color: #cccccc;  
  border-width: 1px;
  padding: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 14px;
  line-height: 1.4em;
  float:left;
  min-width: 320px;
  @include font-size($norm);
  &:hover {        
    color:$selected-range-color !important;      
    &.aboveTarget:hover,&.belowTarget:hover {
      background-color: $warning-glucose-color !important;
    }
    &.inTarget:hover {
      background-color: $normal-glucose-color !important;
    }
  }

  &.active {        
    color:$selected-range-color !important;      
    &.aboveTarget,&.belowTarget {    
      background-color: $warning-glucose-color !important;
    }
    &.inTarget {
      background-color: $normal-glucose-color !important;
    }    
  }

  &:not(.active):not(:hover) {            
    &.aboveTarget,&.belowTarget {
      background-color: transparentize($warning-glucose-color, 0.6) !important;
    }
    &.inTarget {
      background-color: transparentize($normal-glucose-color, 0.6) !important;
    }    
  }
}

i.rangeIcon {
  text-indent: .25em;
}