@import "center";
@import "browser";
@import "hearth";
@import "donation";

$getting-started-background: image-url('background.svg', false, false);
$steps-opacity: 0.75;
$banner-header-color: #F2F2F2;
$banner-text-color: lighten($banner-header-color, 10%);
$welcome-image: image-url('sea-level-banner.png', false, false);
$welcome-image-transition-duration: 0.3s;
$avatar-shape: 'circle';

.getting-started {  
  height: 450px;  
  margin-bottom: 40px;
  background-image: $getting-started-background;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #eeeeee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;  
  color: $banner-text-color;
  width: 100%;  
  margin: 0 auto;
  padding: 0px 20px 0 20px;  

  h1 {
  	color: $banner-header-color;
  	text-align: center;  	  	
  }
}

.getting-started-wrapper {      
  @include centre(both);
  width: 60%;
}

.getting-started-steps {	
  display: table;    
  padding: 40px 0px 40px 0px;
  width: 100%;
  margin: 0 auto;  
  text-align: center;
}

.step-number {  
  padding: 0px 80px 0px 80px;
  width: 100%;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: $steps-opacity;  
}

.welcome-banner {  
  height: 300px;
  width: 1074px;
  margin-top: 50px;
  margin-bottom: 50px;    
  background-image: $welcome-image;
  background-repeat: no-repeat;
  -o-transition: $welcome-image-transition-duration;
  -ms-transition: $welcome-image-transition-duration;
  -moz-transition: $welcome-image-transition-duration;
  -webkit-transition: $welcome-image-transition-duration;
  /* ...and now for the proper property */
  transition: $welcome-image-transition-duration;
}

.story {
  margin-top: 50px;
}

.avatar {
  @include shape($avatar-shape);
}

.importantMessage {
  @include font-size($med); 
}

.menu-icon {
  @include font-size($xxlarge); 
  position: relative;
  height: 100%;
  line-height: 100%;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;  
}

.nonVisible { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.spacer {
  height: 40px;
}