<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Glukit</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/custom.modernizr.js"></script>
      <link type="text/css" rel="stylesheet" href="css/graph.css">
      <link type="text/css" rel="stylesheet" href="css/detail.css">
      <link type="text/css" rel="stylesheet" href="css/main.css">
    	<script src="js/d3.v3/d3.v3.js"></script>
    	<script src="js/jquery-2.0.0.min.js"></script>
    	<script src="js/rickshaw.js"></script>
      <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  </head>
  <body class="dataPage">

<div class="sticky">
  <nav class="top-bar dataPage-topbar mainDataPage">
    <ul class="title-area">
    <!-- Title Area -->
      <li class="name hackwhite">
      <h1><a href="#"><img src="images/glukit.png" id="droplet"></a></h1>
      </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <div class="fixed"></div>
  <section class="top-bar-section">
    <!-- Left Nav Section 
    <ul class="left hackwhite"> 
    </ul>
    -->
    <!-- Right Nav Section -->
    <ul class="right hackwhite">
     <li class="divider"></li>
      <li class="active hackwhite"><a href="#">How you're doing</a></li>
      <li class="divider"></li>
      <li class="active hackwhite"><a href="#">Compare</a></li>
      <li class="divider"></li>
      <li class="active hackwhite"><a href="#">Explore</a></li>
      <li class="divider"></li>
      <li class="divider hide-for-small"></li>
      <li class="divider hackwhite"></li>
      <li class="divider show-for-small hackwhite"></li>
      <li class="has-form">
        <a class="button" href="index-test.html" style="color:white !important">Sign out</a>
      </li>
      <!-- <li class="active hackwhite has-dropdown"><img src="img/settings-cog.png"></li> -->
      <li class="divider"></li>
    </ul>
  </section>
</div>
</nav>
</div>

<!-- Overlay if user hasn't imported data yet. NOT YET STYLED - NEED TO FIX! -->
  <div id="overlay" class="hidden">
    <div class="row">
      <div class="large-16 columns">
        <div class="large-3 large-offset-1 columns"> <img src="images/surprisedglukit.png" id="nodataGlukit"></img></div>
        <div class="large-10 columns"><h2>Uh oh! Looks like you havent uploaded any data yet. Let's get you up and running.</h2></div>
      </div>
      <div clas="row" style="height:90px"></div>
        <ul id="instructions">
          <li class="large-10 columns"><h4>1.&nbsp;Connect your monitor to your personal computer to sync</h4></li>
          <li class="large-10 columns"><h4>2.&nbsp;Export your data and save it to Google Drive</h4></li>
          <li class="large-10 columns"><h4>3.&nbsp;That's it. Magic!</h4></li>
      </ul>
    </div>
  </div>

<div class="row belowHeader" style="overflow:hidden; padding-top:4px">
    <div class="large-16 columns">
      <div class="row">
        <div class="large-16 columns">
          <h3 class="datepicker" style="color:#888"><img src="images/back-arrow.png">           Friday, July 26th 2013</h3>
          <!-- <p style="float:right; color: #404040; padding-top:6px">Welcome, Alex!</p> -->
        </div>
      </div>
       
      <!-- Should be generating this dynamically - not DRY as is. --> 
      <div class="row dashboard">
        <div class="large-4 columns">
          <div class="slab">
            <div class="insights glukitScore"></div>
            <h5>Glukit score</h5>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="slab">
            <div class="insights dailyAverage"></div>
            <h5>Daily average</h5>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="slab">
            <div class="insights dailyHigh"></div>
            <h5>Daily high</h5>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="slab">
            <div class="insights dailyLow"></div>
            <h5>Daily low</h5>
          </div>
        </div>
      </div>
      
      <hr id="features">        
      <div class="row">
        <div class="large-16 columns">
          <div class="slab graph">
            <div id="chart_container">
            <div id="y_axis"></div>
            <div id="chart" style="clear: both"></div>
            <div id="injections_chart" style="clear: both"></div>
            <div id="legend_container">
              <div id="smoother" title="Smoothing"></div>
            <div id="legend"></div>
            </div>
            <div id="slider"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer">
          <div class="large-16 columns" style="height:30px">     
          </div>
        </div>
      </div>
    </div>    
  </div>
<script>
    function showDataBrowser() {
    var chartNode = document.getElementById("chart");
    chartNode.innerHTML = '';

    var graph = new Rickshaw.Graph.Ajax( {
    	element: document.getElementById("chart"),
    	width: 800,
    	height: 400,
    	renderer: 'multi',
        max: 300,
        min: 0,
    	dataURL: '{{.DataPath}}',
    	series: [
            {
                name: 'You.Injection',
                color: '#4D94FF',
                width: 2,
                renderer: 'scatterplot'
            }, {
                name: 'You.Carbohydrates',
                color: '#E65C5C',
                width: 2,
                renderer: 'scatterplot'
            }, {
    			name: 'You',
                color: 'steelblue',
                width: 2,
                renderer: 'line'
    		},
             // Ugly workaround because scatterplot for injections and carbs are not placed correctly unless the reads line
             // has a scatterplot too..and we don't want to show it so we set the color to none
               {
                name: 'You',
                color: 'none',
                opacity: '0',
                width: 2,
                renderer: 'scatterplot'
            }, {
    			name: 'Perfection',
    		    color: '#33AD33',
    		    width: 2,
                renderer: 'line'
    		}
    		 ],
    	onComplete: function(transport) {
    	    var x_axis = new Rickshaw.Graph.Axis.Time({
    	          graph: transport.graph,
    	        });
    	    x_axis.graph.update();

    	    var y_axis = new Rickshaw.Graph.Axis.Y( {
    		            graph: transport.graph,
    		            orientation: 'left',
    		            tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    		            element: document.getElementById('y_axis'),
    		} );
            y_axis.graph.update();

            var hoverDetail = new Rickshaw.Graph.HoverDetail( {
                    graph: transport.graph,
                    formatter: function(series, x, y, formattedX, formattedY, d) {
                            var date = '<span class="date">' + new Date(x * 1000).toTimeString() + '</span>';
                            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
                            var content = null;
                            if (series.name.indexOf('.') > 0) {
                                content = swatch + series.name.substring(series.name.indexOf('.')+1) + ": " + parseFloat(d.value.r) + '<br>' + date;
                            } else {
                                content = swatch + series.name + ": " + parseInt(y) + '<br>' + date;
                            }
                            return content;
                        },
                    xFormatter: function(x) {
                        return new Date(x * 1000).toTimeString();
                    },
                } );
    	  }
    } );
    }
    function showDashboard()
    {
        var distribution = null;
        $.getJSON('{{.DataPath}}.dashboard', function(data) {

          //hooking up the endpoint to be displayed in the dashboard
          $(".glukitScore").text(data['score']);
          $(".dailyAverage").text(data['median']); //need to change this to average (round existing avg value)
          $(".dailyHigh").text(data['high']);
          $(".dailyLow").text(data['low']);

        }).fail(function() { 
          $("div#overlay").removeClass("hidden");
           //blurring the text behind the overlay for effect  
          $('.dashboard').css({'text-shadow': '5px 5px 5px #999', 'color':'transparent'});
            //noData();
         });
    }

    /* testing show an overlay with upload instructions for users with no data 

  function noData () {
     console.log('this is a function'); 
     var overlay = $('<div id="overlay"><div class="row"><div class="large-16 columns noDataGroup"><h2>Uh oh! Looks like you havent uploaded any data yet.</h2>   <img src="images/surprisedglukit.png" id="nodataGlukit"></img></div></div></div>');
      overlay.appendTo($(".belowHeader"));

    //blurring the text behind the overlay for effect  
     $('.dashboard').css({'text-shadow': '5px 5px 5px white', 'color':'transparent'});
  }
*/

  
</script>
  <script>
      channel = new goog.appengine.Channel('{{.ChannelToken}}');
      socket = channel.open();
      socket.onopen = function() {
        console.log("connected");
        showDataBrowser();
        showDashboard();
      };
      socket.onmessage = function(message) {
        console.log("onMessage: " + message.data);
        showDataBrowser();
        showDashboard();
      };
      socket.onerror = function() {
        console.log("error");
      };
      socket.onclose = function() {
        console.log("close");
      };
    </script>
      <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
  </body>
</html>