<html>
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Glukit</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link type="text/css" rel="stylesheet" href="css/main.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	<script src="js/main.js"></script>
  </head>
  <body>
<div class="sticky">
<nav class="top-bar" style="z-index: 30000">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="index.html"><img src="images/glukit.png" id="droplet"></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active navlink"><a href="#features">Features</a></li>
      <li class="divider"></li>
       <li class="active navlink"><a href="#data">Demo</a></li>
      <li class="divider"></li>
      <li class="active navlink"><a href="#mystory">My Story</a>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      
      <li class="active navlink"><a href="#" data-reveal-id="loginModal">Sign in</a>
      </li>
      <li class="divider"></li>
      <!-- <li class="divider show-for-small"></li> -->
      <li class="has-form">
        <a class="button" href="#" style="color:white !important">Get started</a>
      </li>
    </ul>
  </section>
</nav>
</div>
  <div class="row" style="overflow:hidden; padding-top:10px">
    <div class="large-16 columns">
      <h3>Introducing Glukit</h3>
      <h5>Keeping your blood sugar steadier than a drunken sailor</h5>
      
      <!-- Grid Example -->
      <div class="row">
        <div class="large-16 columns" style="padding-top:50px" id="comp">
          <img src="images/mobileAndDesktop-comp.png">
        </div>
      </div>

      <hr id="features">
      <h3>Features</h3>
          <!-- Grid Example -->
      <div class="row">
        <div class="large-16 columns">
            <p>Retro minim elit High Life, consequat Neutra exercitation shoreditch before they sold out lo-fi accusamus pariatur ethical. Veniam vegan pork belly direct trade, non vinyl Cosby sweater messenger bag small batch eu Truffaut. Echo Park stumptown cray yr, artisan non Williamsburg. Raw denim nulla locavore, accusamus brunch occaecat wayfarers street art hella odio. Brunch 3 wolf moon asymmetrical, reprehenderit Neutra culpa ennui Truffaut. Ut pop-up Carles, ad try-hard before they sold out narwhal dolore nostrud typewriter +1 meggings. Pickled scenester photo booth aliquip +1 hoodie Williamsburg, Brooklyn lo-fi flexitarian.</p>
        </div>
      </div>
      
      <hr id="data">
    <h3>Demo</h3>
          <!-- Grid Example -->
      <div class="row">
        <div class="large-16 columns">
          <div class="panel">
              <p>Go to the <a href="/demo">demo</a></p>
              <a href="/demo"><img src="/images/demo.png"/></a>
          </div>
        </div>
      </div>
      
      <hr id="mystory">
      <h3>My Story</h3>
      <div class="row">
        <div class="large-4 columns">
          <a href="#"><img src="images/alex-normand.png"></a>
        </div>
        <div class="large-12 columns">
            <p>I have type 1 diabetes. I used to have a pretty typical view of diabetes management. I don't anymore. </p>
            <p> I received bad news earlier this year that I, "as any other person who's had diabetes for as long as I have", had early signs of retinopathy in my left eye. It was, oddly enough, unexpected for me. The part that resonated the most with me though was the fact that this was considered and presented to me as "normal". </p>
            <p>I don't believe in a second definition of normal tailored to diabetics. We have to live with our limitations and we have to compensate for our body not producing insulin (T1) but it doesn't mean we shouldn't try to aim for standards of living that are closer to the actual "normal".</p>

<p>Fast-forward a few months, my A1C is went from 7.7 in early 2013 to 5.3. While I still target my A1C to be lower, I'm driving the show now.</p>

<p>And boy does driving feel fantastic. To get to the results that I've seen, I had to understand a lot. I had to test theories and make drastic changes. But it turns out to be pretty awesome, addictive even, to learn about what affects your body and blood sugar.</p>

<p>And while I'm making discoveries that shed light on some blood sugar mysteries, I'm also discovering information that contribute to better health.</p>


<p>For the first time since my diagnosis, I now dream of my old age and I'm not scared. I'm dreaming of the pictures I'll be taking on this long walk somewhere in Europe. I'm dreaming on the tool I'll still be building to contribute to making the world slightly better, safer, more efficient.</p>

I'm not special. We can all do this. Let's go.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="large-16 columns footer">
          <div class="large-13 small-5 columns">
            <p><a href="#">Contact us</a></p>
          </div>
          <div class="large-3 small-5 columns">
            <p>GlukitLabs 2013</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="loginModal" class="reveal-modal">
      <h2>Sign in</h2>
      <p class="lead">With google auth.</p>
      <p>It's super easy.</p>
    <a href="/realuser"><button>This is your google account sign in!</button></a>
      <a class="close-reveal-modal">&#215;</a>
</div>

<!-- background reveal element! -->
<div class="reveal-modal-bg" style="display: none"></div>

</body>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
    
  <script src="js/foundation.min.js"></script>
  <script src="js/foundation.topbar.js"></script>

 <!--
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  -->
  <script>
    $(document).foundation();
  </script>

  
</body>
</html>
