<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Glukit</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/custom.modernizr.js"></script>            
      <link type="text/css" rel="stylesheet" href="css/main.css">
      <link type="text/css" rel="stylesheet" href="css/report.css">      
      <link type="text/css" rel="stylesheet" href="css/foundation_icons_general/stylesheets/general_foundicons.css">
    	<script src="js/d3.v3.js"></script>
      <script src="js/d3-transform.js"></script>
    	<script src="js/jquery-2.0.0.min.js"></script>
      <script type="text/javascript" src="/_ah/channel/jsapi"></script>
      <script src="js/moment-with-langs.min.js"></script>      
      <script src="js/main.js"></script>      
  </head>
  <body class="dataPage">

<!-- Overlay if user hasn't imported data yet. NOT YET STYLED - NEED TO FIX! -->
  <div id="overlay" class="hidden">
    <div class="row">
      <div class="large-16 columns">
        <div class="large-3 large-offset-1 columns"> <img src="images/surprisedglukit.png" id="nodataGlukit"></img></div>
        <div class="large-10 columns"><h2>Uh oh! Looks like you havent uploaded any data yet. Let's get you up and running.</h2></div>
      </div>
    </div>
  </div>

<div class="profile" style="overflow:hidden; padding-top:24px">
    <div style="padding-bottom: 0px">
        <div class="profile">
          </span></span>                        
              <div class="cloud"><img src="images/glukit.png" id="droplet" style="float: left; padding-left: 130px; margin-top: -60px;">
              <span class="profilePic" id="profilePic"/></span><span id="userName" style="float: left; padding-left: 37px; padding-top: 4px"></span><span class="glukitScore" id="glukitScore"></span></div>
            </div>
        </div>
      </div>
 
      <div class="row">
        <div class="large-16 columns">
          <div class="slab graph">
            <div id="hoverbox" class="hoverbox"></div>      
            <div id="chart_container">                                                               
              <div id="chart" style="clear: both"></div>              
            </div>
            <div id="slider"></div>            
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="footer">
          <div class="large-16 columns" style="height:30px">
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    var TARGET_RANGE_LOWER_BOUND = 63;
    var TARGET_RANGE_UPPER_BOUND = 127;
    // Default to 5 hours 
    var SNAP_DISTANCE_IN_MILLIS = 5 * 2700000;

    var RANGES = {
      HIGH: "HIGH",
      NORMAL: "NORMAL",
      LOW: "LOW"
    }

    function showDataBrowser() {
    var chartNode = document.getElementById("chart");
    chartNode.innerHTML = '';

    var margin = {top: 20, right: 10, bottom: 30, left: 30},    
    width = 800 - margin.left - margin.right,
    height = 650 - margin.top - margin.bottom;    

    // Our dates are milliseconds since epoch so that parse function
    // just instantiates a new Date from it.
    var parseDate = function(d) { return new Date(d) };

    // Define the scales
    var x = d3.time.scale().range([0, width]),
    y = d3.scale.linear().range([height, 0]);

    // Define the axes
    var xAxis = d3.svg.axis().scale(x).orient("bottom").tickFormat(d3.time.format("%-I %p")),    
    yAxis = d3.svg.axis().scale(y).orient("left");

    var glucoseLine = d3.svg.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.y); });

    // Find a way to change those as the viewfinder moves
    var userEventArc = d3.svg.arc()
      .innerRadius(0)
      .outerRadius(7)      
      .startAngle(function(d)
           {
            switch (d.type) {
              case "full":                 
                return 0 * Math.PI;
              case "left":                 
                return 1 * Math.PI;
              case "right":                
                return 1 * Math.PI;
             }                      
           
             })
      .endAngle(function(d)
           {
           switch (d.type) {
            case "full": 
              return 2 * Math.PI;
            case "left": 
              return 2 * Math.PI;
            case "right":
              return 0 * Math.PI;
          } });

    var chartContainer = d3.select("#chart");

    // That should be the lower bound of the times displayed on the graph
    // driven by the "self" data
    d3.json("/{{.PathPrefix}}data", function(error, data) {
      globalGlucoseReads = data.data[0].data;
      globalUserEvents = data.data[1].data;
      window.globalGlucoseReads = globalGlucoseReads;
      var highestOnChart = d3.max(globalGlucoseReads, function(d) { return d.y; });
      //var highestOnChart = 250;

      // 1 snap every day for 7 days      
      var daysOfData = getDateSnapGuides(moment.unix(globalGlucoseReads[0].x).toDate(), moment.unix(globalGlucoseReads[0].x).add('days', 7).toDate());       

      for (var dayIndex = 0; dayIndex < Math.min(daysOfData.length - 1, 7); dayIndex++) {
        if (dayIndex < daysOfData.length - 2) {
          glucoseSliceEnd = Math.abs(binaryIndexOf.call(globalGlucoseReads, daysOfData[dayIndex + 1]));
          userEventsSliceEnd = Math.abs(binaryIndexOf.call(globalUserEvents, daysOfData[dayIndex + 1]));            
        } else {
          glucoseSliceStart = globalGlucoseReads.length - 1;
          userEventsSliceStart = globalUserEvents.length - 1;          
        }
        
        glucoseSliceStart = Math.abs(binaryIndexOf.call(globalGlucoseReads, daysOfData[dayIndex]));
        userEventsSliceStart = Math.abs(binaryIndexOf.call(globalUserEvents, daysOfData[dayIndex]));          
                
        console.log("slice start is " + glucoseSliceStart);
        console.log("slice end is " + glucoseSliceEnd);
        glucoseReads = globalGlucoseReads.slice(glucoseSliceStart, glucoseSliceEnd);        
        userEvents = globalUserEvents.slice(userEventsSliceStart, userEventsSliceEnd);                
        timeRangeLowerBound = glucoseReads[0].x;
        glucoseReads.forEach(function(d) {
        d.date = parseDate(d.x * 1000);
      });

        userEvents.forEach(function(d) {
        d.date = parseDate(d.x * 1000);
      });
    
      
      x.domain(d3.extent(glucoseReads.map(function(d) { return d.date; })));
      y.domain([0, highestOnChart]);            

      var segments = splitReadsInRangeSegments(glucoseReads, "{{.GlucoseUnit}}");
      rangeAggregate = getRangeAggregate(segments, moment.unix(glucoseReads[0].x).toDate(), moment.unix(glucoseReads[glucoseReads.length - 1].x).toDate());

      var lowRangePercentage = Math.floor(rangeAggregate.lowTimeInMinutes / rangeAggregate.getTotalTime() * 100);
      var highRangePercentage = Math.floor(rangeAggregate.highTimeInMinutes / rangeAggregate.getTotalTime() * 100);
      var normalRangePercentage = Math.floor(rangeAggregate.normalTimeInMinutes / rangeAggregate.getTotalTime() * 100);

      chartContainer.append("h3").text(moment(daysOfData[dayIndex]).format("dddd, Do"));
      if (normalRangePercentage > 0) {
        chartContainer.append("div").text("Normal " + normalRangePercentage + "% of the time").attr("class", "smallLabel");  
      }
      if (lowRangePercentage > 0) {
        chartContainer.append("div").text("Low " + lowRangePercentage + "% of the time").attr("class", "smallLabel");  
      }
      if (highRangePercentage > 0) {
        chartContainer.append("div").text("High " + highRangePercentage + "% of the time").attr("class", "smallLabel");  
      }
      

      var svg = chartContainer.append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom);

      var focus = svg.append("g")   
      .attr("id", "mainContainer")     
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      
      focus.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

      focus.append("rect")
            .attr("class", "target_range")
            .attr("clip-path", "url(#rangeClip)")
            .attr("width", width)
            .attr("height", height);

      focus.append("g")
            .attr("class", "y axis")
            .call(yAxis);

      var focusLine = d3.svg.line()
                    .x(function(d) { return x(d.x); })
                    .y(function(d) { return d.y; })
                    .interpolate('linear');

      var focusCoordinates = [];
      focusCoordinates[0] = new Object();
      focusCoordinates[1] = new Object();
      
      focusCoordinates[0].x = 0;
      focusCoordinates[0].y = 0;
      focusCoordinates[1].x = 0;
      focusCoordinates[1].y = height;

      var focusLineElement = focus.append("path")
            .attr("id", "focusLine")
            .attr("class", "focusLine")
            .attr("clip-path", "url(#clip)")
            .datum(focusCoordinates)
            .attr("d", focusLine);

      var hoverbox = d3.select("#hoverbox");   
      var chartContainerElement = d3.select("#chart_container")[0][0];   

      addTargetRangeClip(svg, width, height, "rangeClip", TARGET_RANGE_LOWER_BOUND, TARGET_RANGE_UPPER_BOUND, highestOnChart, y);

      var nights = getNightsDateRangesForTimeWindow(moment.unix(glucoseReads[0].x).toDate(), moment.unix(glucoseReads[glucoseReads.length - 1].x).toDate());
      var timebar = focus.append("g")
          .attr("id", "timebar");                  
      timebar                  
          .selectAll(".night")
          .data(nights)         
          .enter()
          .append("rect")               
          .attr("class", "night")         
          .attr("clip-path", "url(#clip)")
          .attr("width", function(d) { return x(d.end) - x(d.start);})
          .attr("height", 5)
          .attr("x", function(d) { return x(d.start);})
          .attr("y", height - 5);
            
      addToGraph(focus, "self", segments, glucoseReads, y, glucoseLine);    
      
      var userEventGroups = groupEvents(userEvents, 60);      
      
      // The clip path needs to be set on the group of userEvents and NOT on the individual arcs because otherwise,
      // the arcs will get clipped before the transformation and we're never going to be able to get a full circle or 
      // semi-circle
      userEventsSvg = focus.append("g").attr("class", "userEvents").attr("clip-path", "url(#clip)");
      for (var i = 0; i < userEventGroups.length; i++) {
        markers = generateEventMarkers(userEventGroups[i]);                        
        for (var j = 0; j < markers.length; j++) {          
          userEventsSvg.append("path")
           .attr("class", "event " + markers[j].tag)
           .attr("transform", "translate(" + x(markers[j].date) + "," + y(markers[j].y) + ")")                      
           .datum(markers[j])           
           .attr("d", userEventArc);      

           for (var u = 0; u < userEventGroups[i].userEvents.length; u++) {            
              userEvent = userEventGroups[i].userEvents[u];
              eventTime = new Date(userEvent.x * 1000);

              lineText = userEvent.value;
              if (userEvent.tag === "Insulin") {
                lineText = lineText + " units";
              } else {
                lineText = lineText + " grams";
              }
              lineText = lineText + " at " + moment(eventTime).format("HH:mm");
              
              userEventsSvg.append("text")
                .attr("class", userEvent.tag)                
                .attr("x", x(markers[j].date))
                .attr("y", y(markers[j].y - u * 5.5 - 7.5))
                .text(lineText);                         
            }
         }        

         
      }      
      
      function brushed() {              
        focus.selectAll("path.self").attr("d", glucoseLine);
        
        timebar                  
          .selectAll(".night")
          .attr("width", function(d) { return x(d.end) - x(d.start);})
          .attr("x", function(d) { return x(d.start);});
        
        //focus.selectAll("path.event").attr("transform", function(d) { return "translate(" + x(d.date) + "," + y(d.y) + ")"; });
        focus.select(".x.axis").call(xAxis);                
      }

      mostRecentReadTimeInSeconds = glucoseReads[glucoseReads.length - 1].x;      
      brushRange = getDayRangeFromUpperBound(mostRecentReadTimeInSeconds);

      // 1 snap every day for 7 days
      var snapGuides = getDateSnapGuides(moment.unix(glucoseReads[0].x).toDate(), moment.unix(mostRecentReadTimeInSeconds).toDate()); 
      
      // Call a first brushed to view the last day only       
      brushed();
    }});

    }
    
    
    function addToGraph(focus, className, segments, glucoseReads, y, glucoseLineFunc) {      
      for (var i = 0; i < segments.length; i++) {
        var segment = segments[i];        
        focus.append("path")
           .attr("class", className + " " + segment.range)
           .attr("clip-path", "url(#clip)")
           .datum(segment.reads)
           .attr("d", glucoseLineFunc);
      }  
    }

    function addTargetRangeClip(svg, canvasWidth, canvasHeight, id, lowerBound, upperBound, maxDomainValue, y) {
      svg.append("defs").append("clipPath")
         .attr("id", id)
       .append("rect")
         .attr("width", canvasWidth)
         .attr("height", y(maxDomainValue - upperBound) - y(maxDomainValue - lowerBound))
         .attr("y", y(upperBound));

      svg.append("defs").append("clipPath")
         .attr("id", "clip")
       .append("rect")
         .attr("width", canvasWidth)
         .attr("height", canvasHeight);
    }    

    
    function addBackgroundAndHover(focus, glucoseReads, userEventGroups, width, height, x, y, focusCoordinates, chartContainerElement, hoverbox, focusLine) {
      // We add a background so that we have a svg area to register the mouse 
      // movement
      var background = focus.append("rect")
            .attr("id", "background")
            .attr("class", "background")            
            .attr("clip-path", "url(#clip)")            
            .attr("width", width)
            .attr("height", height);
        chartBackground = background[0][0];
        chartBackground.addEventListener('mousemove',function(event){
          var rect = this.getBoundingClientRect();        
          var left = event.clientX  - rect.left - this.clientLeft + this.scrollLeft;
          var top = event.clientY - rect.top - this.clientTop + this.scrollTop;

          var time = x.invert(left);        
          
          coordinates = getHoverCoordinates(glucoseReads, time);
          focusCoordinates[1].x = focusCoordinates[0].x = coordinates.x;

          focus.selectAll("#focusLine").attr("d", focusLine);

          hoverleftposition = event.clientX - chartContainerElement.getBoundingClientRect().left;
          hoverbox.style("left",  hoverleftposition + "px" );        
          
          // Clear previous content
          hoverbox.text(null);
          hoverbox.append("p")
            .attr("class", "glucose")
            .text(Math.round(coordinates.y) + " mg/dl");                         
          var userEventGroupIndex = Math.abs(binaryIndexOf.call(userEventGroups, time));                              
          
          // We beyond the last event group, check if the last is close enough
          if (userEventGroupIndex >= userEventGroups.length) {
            if (isHoveringEventGroup(userEventGroups[userEventGroups.length - 1], time)) {
              userEventGroup = userEventGroups[userEventGroups.length - 1];            
              appendUserEventsToHoverBox(hoverbox, userEventGroup); 
            }           
          }
          // Look for the event after the current position to see if it's close enough
          else if (isHoveringEventGroup(userEventGroups[userEventGroupIndex], time)) {
              userEventGroup = userEventGroups[userEventGroupIndex];            
              appendUserEventsToHoverBox(hoverbox, userEventGroup);            
            } 
          // Look to see if the one prior is close enough
          else if (userEventGroupIndex > 0 && isHoveringEventGroup(userEventGroups[userEventGroupIndex - 1], time)) {
              userEventGroup = userEventGroups[userEventGroupIndex - 1];            
              appendUserEventsToHoverBox(hoverbox, userEventGroup);            
          }
        }, false);      

        chartBackground.addEventListener('mouseover', function(event) { 
          d3.select(".hoverbox").style("display", "block"); 
          d3.select(".focusLine").style("display", "block"); 
        });          
        chartBackground.addEventListener('mouseout', function(event) { 
          d3.select(".hoverbox").style("display", "none");
          d3.select(".focusLine").style("display", "none");
        } );          

    }


function showProfile()
    {
        var distribution = null;
        $.getJSON('/{{.PathPrefix}}dashboard', function(dashboard) {

          var profilePicture = dashboard.picture;
          var firstName = dashboard.firstName;
          var lastName = dashboard.lastName;
          var glukitScore = dashboard.score;
          var lastSync = dashboard.lastSync;
          var lowerBound = dashboard.scoreDetails.LowerBound;
          var upperBound = dashboard.scoreDetails.UpperBound;
          var joinedOn = dashboard.joinedOn;

          var img = document.createElement("img");
          img.src = profilePicture;
          img.className="profilePic";
          var src = document.getElementById("profilePic");
          src.appendChild(img);

          document.getElementById('userName').innerHTML = firstName + " " +lastName;          
          if (glukitScore == null) {
            document.getElementById('glukitScore').innerHTML = "?";
          } else {
            document.getElementById('glukitScore').innerHTML = glukitScore;
          }          
          
        }).fail(function() {
          $("div#overlay").removeClass("hidden");
           //blurring the text behind the overlay for effect
          $('.dashboard').addClass("blurryText");
            //noData();
         });
    }

</script>  
      <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  showDataBrowser();
  showProfile();
  //highlightLines();

  </script>

  <script src="js/foundation.min.js"></script>
  
  <script>
    $(document).foundation();
  </script>  
  </body>
</html>
