.HIGH {
	stroke: #de2333;
}

.NORMAL {
	stroke: #2390de;
}

.LOW {
	stroke: #de2333;
}

.graph{
  height: 4850px;
}

.smallLabel {
	margin-left: 1em;
	font-size: 80%;
}

.profile{
  margin-bottom: 2% !important;  
}

#profilePic {
  max-width: 100px !important;
  min-width: 100px !important;
}

.hoverbox {
	display: block;
}

text.insulin {  
  fill: rgba(86, 215, 232, 1);   
}

text.carbs {  
  fill: rgba(255, 199, 69, 1);
}

.insights {
  color:#52C0E6;
  font-weight:bold;
  font-size: 4em;}
.datepicker{
  padding-bottom: 20px;
  display: block;
  float: left;
}
